.main{
    display: flex;
    justify-content: space-around;
    
}

.logo{
    width:166px;
    height:47px;
}

.menu{
    display: flex;
    list-style-type: none;
    width: 413px;
    height: 36px;
    justify-content: space-around;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    font-size: calc(auto+3px);

}

li:hover{
    color: #892020;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 70px;
    height: 24px;
}